<configuration reload="true" >

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
			%date{ISO8601} [%t] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

<!--	<logger name="com.http4s.blaze" lebel="INFO" />-->



	<root level="debug">
		<appender-ref ref="CONSOLE"/>
	</root>

</configuration>